
.window {
    background-color: aquamarine;
    margin: 5px;
    border : 1px dashed #333;
}

main {
    background-color: burlywood;    
    border: 1px solid #333;
    height: 95vh;
    width: 95vw;
    display: flex;
    flex-direction: row ;
}


#screen {
    display: flex;
    flex-direction: column ;
    order :0;
    flex: 2
}

aside {
    order: 1;
    flex: 1;
    display: flex;
    flex-direction: column ;
}


section {
    flex: 2;
    display: flex;
    flex-direction: row ;
    align-items: flex-end;
}

footer {
    flex: 1;
}


@media screen and (max-width: 600px){
    main {
        flex-direction: column;
    }
    
    aside {
        order: 0;
        flex: 1;
        flex-direction: row ;
    }
    
    #screen {
        order :1;
        flex: 8;
    }

    #skill-list {
        flex: 1;
    }

    #status-list {
        flex: 1;
    }
}





    